# Unidad modular 2: Introducción a Python.
## Diplomado en R y Python para análisis de datos - UMNG
Docente: Jarles Andrés Marimon Hernández

## Características de Python

- Creado en 1991 por Guido Van Rossum
- Código abierto
- Última versión: 3.9.6

## Instalación y configuración

- Descargar versión base de python: https://www.python.org/
- Decargar Integrated Development Environment (IDE): **pycharm, spyder.** Otros: PyDev, Sublime Text, etc.

## Operaciones en terminal de Python

In [ ]:
2+2

4

In [ ]:
1+8/2

5.0

In [ ]:
9%5

4

In [ ]:
17*51

867

In [ ]:
5**2

25

In [ ]:
4e5
4E5

400000.0

## Primeros programas

In [ ]:
print('Hola mundo')

Hola mundo

In [1]:
nombre = input('Ingrese su nombre')
print('Hola, mi nombre es', nombre)

In [15]:
edad = eval(input('Ingrese su edad'))
print('Mi edad es: ', edad)

Ingrese su edad7*8
Mi edad es:  56

In [17]:
print('B', 2, True, 3.1416, 1/4, -1.8)

B 2 True 3.1416 0.25 -1.8

In [18]:
print('Hoy es: ', 10, 'de julio del año', 2021)

Hoy es:  10 de julio del año 2021

In [44]:
a = 10
a = a + 5
print(a)
a += 1
print(a)

15
16

In [5]:
#Comentarios
''' Comentar 
Párrafos '''

' Comentar 5+25\nPárrafos '

## Variables

### Tipos

- `int`: Números enteros
- `float`: Números reales
- `bool`: Valores booleanos
- `str`: Caracteres de texto

In [32]:
x = 3
y = 1.5
z = True
w = 'Hola'
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

### Asignación

In [20]:
a = 2
b = 3
c = (a+b)**2
d = a**2 + 2*a*b + b**2
print(c-d)

0

In [34]:
cateto1 = 3
cateto2 = 4
hipotenusa = (cateto1**2 + cateto2**2)**(1/2)
print(hipotenusa)

5.0

In [36]:
#Múltiple
x, y, z = 1, 2, 3 
print(x*y*z)

6

### Comentarios sobre las variables: 
- Pueden contener letras, números y guión bajo
- No pueden contener espacios
- No pueden empezar con números
- Las mayúsculas y minúsculas no representan lo mismo.

### Comparación
- <, >, <=, >=, ==, !=.

## Operaciones lógicas

In [11]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [10]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [16]:
print(5 == 3)
print(6 < 2)
print(7 >= 7)
print (True == 1)
print(False == 0)
print(1 <= 5/5)
print('a' in 'Hola')
print('p' in 'Mañana')

False
False
True
True
True
True
True
False

## Strings

In [3]:
texto = 'Diplomado UMNG'
print(3*texto)
print(texto + texto)

Diplomado UMNGDiplomado UMNGDiplomado UMNG
Diplomado UMNGDiplomado UMNG

**Nota:** Los operadores '+' y '\*' se llaman **operadores sobrecargados** porque tienen diferentes usos dependiendo el tipo de variable.

In [4]:
print(len(texto))
print(texto[1])
print(texto[1:3])
print(texto[0:10:3])

14
i
ip
Dla

In [1]:
libro = 'Cien años de soledad'
print(libro.upper())
print(libro.lower())
print(libro.capitalize())

CIEN AÑOS DE SOLEDAD
cien años de soledad
Cien años de soledad

In [4]:
nlib = 700
print('Gabriel García Márquez escribió más de {} libro, entre ellos {}'.format(nlib,libro))

Gabriel García Márquez escribió más de 700 libro, entre ellos Cien años de soledad

### Funciones útiles

In [5]:
print(libro.find('d'))

10

In [7]:
listlet = libro.split(" ")
print(listlet)

['Cien', 'años', 'de', 'soledad']

### Conversión

In [5]:
a = '3'
print(int(a)*5)

15

# While Loops

Ejecuta un conjunto un ciclo de líneas de código mientras una condición sea cierta.

In [21]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [22]:
i = 0
while i < 5:
  print(i)
  if i == 3:
    break #Parar el ciclo aunque la condición sea cierta.
  i += 1

0
1
2
3

In [19]:
i = 0
while i < 5:
  i += 1
  if i == 3:
    continue #Interrumpe el ciclo únicamente en la iteración que se especifique
  print(i)

1
2
4
5

In [20]:
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("Fin del loop")

1
2
3
4
Fin del loop

In [2]:
while True:
    print('Hola')
    break

Hola

# For Loops

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for k in range(3):
    num = eval(input('Ingrese un número: '))
    print('El cuadrado del número es: ', num*num)
print('Fin del ciclo')

Ingrese un número: 5
El cuadrado del número es:  25
Ingrese un número: 47.7
El cuadrado del número es:  2275.2900000000004
Ingrese un número: 967
El cuadrado del número es:  935089
Fin del ciclo

In [24]:
frutas = ['coco', 'mango', 'manzana']
for k in frutas:
    print(k)

coco
mango
manzana

In [25]:
for k in frutas:
  print(k)
  if k == "mango":
    break

coco
mango

In [26]:
for k in frutas:
  if k == "mango":
    continue
  print(k)

coco
manzana

# Estructuras de datos

## Listas:
- Secuencias mutables
- Sirven para almacenar colecciones de elementos

In [6]:
empty_list = []
vowels = ['a', 'e', 'i', 'o', 'u']
vowels2 = list('aeiou')
print(vowels)
print(vowels2)

['a', 'e', 'i', 'o', 'u']
['a', 'e', 'i', 'o', 'u']

In [2]:
list0 = ['aeiou', 50, False, 1/3, 0.96]
print(list0)

['aeiou', 50, False, 0.3333333333333333, 0.96]

### Elementos de una lista

In [3]:
print(list0[2])
print(list0[0])
print(list0[-1])
print(list0[-3])
print(list0[0:2])
print(list0[2:])
print(list0[:2])
print(list0[-1:-3])
print('mango' in list0)

False
aeiou
0.96
False
['aeiou', 50]
[False, 0.3333333333333333, 0.96]
['aeiou', 50]
[]
False

In [4]:
list0[2] = 'rojo'
#list0[5] = True #Error
print(list0)

['aeiou', 50, 'rojo', 0.3333333333333333, 0.96]

### list.insert()

Insertar un nuevo elemento, dado el índice, sin reemplazar el que ya existe.

In [5]:
list0.insert(1, 'azul')
print(list0)

['aeiou', 'azul', 50, 'rojo', 0.3333333333333333, 0.96]

### list.append()

Agregar un elemento al final de la lista.

In [6]:
list0.append('Colombia')
print(list0)

['aeiou', 'azul', 50, 'rojo', 0.3333333333333333, 0.96, 'Colombia']

### list.extend()

Agregar elementos de otra lista.

In [7]:
list1 = ['Bogotá', 'Barranquilla', 'Medellín']
list0.extend(list1)
print(list0)

['aeiou', 'azul', 50, 'rojo', 0.3333333333333333, 0.96, 'Colombia', 'Bogotá', 'Barranquilla', 'Medellín']

### list.remove()

Eliminar un elemento en específico.

In [8]:
list0.remove('Bogotá')
print(list0)

['aeiou', 'azul', 50, 'rojo', 0.3333333333333333, 0.96, 'Colombia', 'Barranquilla', 'Medellín']

### list.pop()

Eliminar un elemento dado el índice. Por defecto elimina el último elemento.

In [9]:
list0.pop(2)
print(list0)

['aeiou', 'azul', 'rojo', 0.3333333333333333, 0.96, 'Colombia', 'Barranquilla', 'Medellín']

### `del` list

Otra forma de eleiminar un elemento especificando el índice. `del` lista3 elimina lista3 de la memoria.

In [10]:
del list0[0]
print(list0)
list2 = [1, 2, True]
del list2
#print(list2)

['azul', 'rojo', 0.3333333333333333, 0.96, 'Colombia', 'Barranquilla', 'Medellín']

### list.clear()

Elimina todo los elementos de la lista sin eliminar el objeto de la memoria.

In [11]:
list3 = [0, 'aei', 'rst', True]
list3.clear()
print(list3)

[]

### list.count()

Contar el número de veces que aparece un elemento.

In [12]:
list4 = ['a', 'b', 'a', 'c', 'a']
print(list4.count('a'))
print(list4.count('c'))

3
1

### list.sort(reverse = False)

Ordenar los elementos de la lista.

In [13]:
list5 = [4, 8, -5.1, -3/5, 0.87, -1e2, 3.14]
list6 = ['Juan', 'Ana', 'Luis', 'Sandra', 'María']

list5.sort()
print(list5)

list6.sort(reverse = True)
print(list6)

[-100.0, -5.1, -0.6, 0.87, 3.14, 4, 8]
['Sandra', 'María', 'Luis', 'Juan', 'Ana']

### list.index()

Retorna el índice de un elemento.

In [14]:
print(list0.index('Barranquilla'))

5

### Más sobre listas

In [15]:
for i in range(len(list0)):
    print(list0[i])

azul
rojo
0.3333333333333333
0.96
Colombia
Barranquilla
Medellín

In [16]:
for i, x in enumerate(list0):
    print(i, x)

0 azul
1 rojo
2 0.3333333333333333
3 0.96
4 Colombia
5 Barranquilla
6 Medellín

In [66]:
i = 0
while i < len(list0):
  print(list0[i])
  i = i + 1

0.3333333333333333
0.96
Colombia
Barranquilla
Medellín

### Listas por comprensión

In [67]:
list7 = [k for k in range(10)]
print(list7)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Operador '+'

Se usa para unir listas.

In [74]:
list8 = list0 + list7
print(list8)

[0.3333333333333333, 0.96, 'Colombia', 'Barranquilla', 'Medellín', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Listas de listas

In [18]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
for row in mat:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [19]:
print(mat[1][2])

6

# Tuplas
- Son listas inmutables

In [2]:
tup0 = (1, True, 1/4, 'Gabriel')
print(tup0)

(1, True, 0.25, 'Gabriel')

In [4]:
print(tup0[2])

0.25

In [5]:
tup1 = (1, 2, 3, [4, 5, 6])
print(tup1[3])

[4, 5, 6]

# Conjuntos
- Colección no ordenada de elementos
- Soportan operaciones básicas de conjuntos: unión, intersección, diferencia y diferencia simétrica.

In [9]:
A = {1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
B = {2, 3, 5, 7, 11, 13, 17, 19}
C = set('Metamorfosis')
D = set('Soledad')
empty_set = set() # NO {}
print(type(A))
print(type(B))
print(type(C))
print(type(D))

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

In [10]:
print(A)
print(B)
print(C)
print(D)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
{2, 3, 5, 7, 11, 13, 17, 19}
{'M', 'm', 't', 'r', 'f', 'i', 'e', 'o', 'a', 's'}
{'S', 'd', 'e', 'l', 'o', 'a'}

In [30]:
print(7 in A)
print(7 not in B)

True
False

In [11]:
set0 = {x for x in 'Colombia' if x not in 'aeiou'}
print(set0)

{'m', 'C', 'b', 'l'}

### Unión

In [13]:
print(A | B)
print(C | D)

{1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19}
{'M', 'm', 't', 'S', 'r', 'f', 'i', 'd', 'e', 'l', 'o', 'a', 's'}

### Intersección

In [14]:
print(A & B)
print(C & D)

{3, 5, 7, 11, 13, 17, 19}
{'o', 'a', 'e'}

### Diferencia

In [15]:
print(A - B)
print(C - D)

{1, 9, 15}
{'M', 'm', 't', 'r', 'f', 'i', 's'}

### Diferencia simétrica

In [16]:
print(A ^ B)
print(C ^ D)

{1, 2, 9, 15}
{'m', 'S', 'r', 'd', 'l', 's', 'M', 't', 'f', 'i'}

# Diccionarios
- Colección de objetos indexados por strings o números en cualquier orden que se denominan *keys*
- Incluso las tuplas pueden ser *keys* si contienen números, strings o tuplas.
- Sintaxis: {key0 : value0, key1 : value1, ... keyN : valueN}

In [21]:
edades = {'Ana': 31, 'Victoria': 24, 'Sofía': 4, 'Michelle' : 11 }
print(edades)

{'Ana': 31, 'Victoria': 24, 'Sofía': 4, 'Yoly': 29, 'Michelle': 11}

### Acceder a elementos de un diccionario

In [23]:
print(edades['Ana'])
print(edades['Yoly'])

31
29

### Lista de *keys*, *values* e ítems

In [27]:
print(edades.keys())
print(edades.values())
print(edades.items())

dict_keys(['Ana', 'Victoria', 'Sofía', 'Yoly', 'Michelle'])
dict_values([31, 24, 4, 29, 10])
dict_items([('Ana', 31), ('Victoria', 24), ('Sofía', 4), ('Yoly', 29), ('Michelle', 10)])

### Cambiar value

In [24]:
edades['Michelle'] = 10
print(edades)

{'Ana': 31, 'Victoria': 24, 'Sofía': 4, 'Yoly': 29, 'Michelle': 10}

### Agregar elemento

In [35]:
edades['Yoly'] = 29
edades['Jesus'] = 55
edades['Teresa'] = 50
print(edades)

{'Ana': 31, 'Victoria': 24, 'Sofía': 4, 'Yoly': 29, 'Michelle': 10, 'Jesus': 55, 'Teresa': 50}

### Eliminar items

In [38]:
edades.pop('Jesus')
print(edades)

KeyError: 'Jesus'

### Eliminar usando `del`

In [37]:
del edades['Teresa']
print(edades)

{'Ana': 31, 'Victoria': 24, 'Sofía': 4, 'Yoly': 29, 'Michelle': 10}

### Loops sobre un diccionario

In [39]:
for k in edades:
    print(k)

Ana
Victoria
Sofía
Yoly
Michelle

In [40]:
for k in edades.values():
    print(k)

31
24
4
29
10

In [41]:
for k in edades.keys():
    print(k)

Ana
Victoria
Sofía
Yoly
Michelle

In [43]:
for key, value in edades.items():
    print(key, value)

Ana 31
Victoria 24
Sofía 4
Yoly 29
Michelle 10

# Bibliografía

- Guttag, J. V. (2021). Introduction to Computation and Programming Using Python: With Application to Computational Modeling and Understanding Data. MIT Press.
- Heinold, B. (2012). A Practical Introduction to Python Programming. Creative Commons Attribution.
- Pine, D. J. (2019). Introduction to Python for science and engineering. CRC Press.
- Python Software Foundation (2021). Python Language Reference, version 3.9.6. https://www.python.org/doc/